body {
  overflow-x: hidden;
}
.home_img {
  height: 70vh;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  z-index: 1;
}

.menu {
  margin-right: 15px !important;
}

@media (max-width: 990px) {
  .home_img {
    width: 220px;
    height: 200px;
  }
  .thumbnail {
    height: 170px !important;
    z-index: 2;
    border-radius: 13px;
    margin-top: -1px !important;
  }
  .menu_quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-between;
  }
}

.thumbnail {
  height: 200px;
  z-index: 2;
  margin-top: 1px;
  border-radius: 13px;
}

.dropdown__scroll {
  overflow: scroll;
  height: 50vh;
  width: 18vw;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.menu_quality {
  display: flex;
}

.dropdownToggle {
  border-radius: 8px !important;
}

.dropdown {
  cursor: pointer;
}

.quality_list {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}
